{{!-- <div class="media bbq-preview">
  <img class="align-self-start mr-3 img-fluid" src="https://www.beaucettemarina.com/wp-content/uploads/2016/07/BBQ-Image.jpg">
  <div class="media-body">

    <a href="/bbqs/{{ this._id }}">
      <h5 class="mt-0">{{ this.name }}</h5>
    </a>

    <a href="/users/{{ this.user._id }}">
      <h6 class="card-title">{{ this.user.firstName }}</h6>
    </a>

    <p>{{ this.description }}</p>  
    <p></p>  
  </div>
</div> --}}

<div class="card" style="width: 18rem;">
  <a href="/bbqs/{{ this._id }}">
    <img class="card-img-top" src="https://www.beaucettemarina.com/wp-content/uploads/2016/07/BBQ-Image.jpg" alt="{{ this.name }}">
  </a>
  <div class="card-body">
    <p class="card-text">{{ this.name }} <small>- {{this.date}} - 5 kms away</small></p>
  </div>
</div>
