<div>
  {{#if bbq.photo}}
    <img src="{{bbq.photo}}" class="img-fluid" alt="Responsive image">
  {{else}}
    <img src="https://images.unsplash.com/photo-1523301343968-6a6ebf63c672?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=675d706c330862ec0a0b01703de8abba&auto=format&fit=crop&w=1950&q=80" class="img-fluid" alt="Responsive image">
  {{/if}}
  <h1>{{bbq.name}}
    {{#if bbq.paid}}
      <button class="btn btn-success" disabled>You are confirmed!</button>
    {{else bbq.requested}}
      <button class="btn btn-primary" disabled>Waiting confirmation...</button>
    {{else bbq.organizer}}
      <button class="btn btn-danger" disabled>Cancel</button>
    {{else session}}
      <button class="btn btn-primary" id="join">Join BBQ!</button>
    {{else}}      
      <a class="btn btn-primary" href="../sessions/login">Wanna Join? Login!</a>
    {{/if}}
  </h1>
  {{#if bbq.paid}}
  <p><span class="font-weight-bold">Address:</span>{{bbq.address}}</p>
  {{/if}}
  <p><span class="font-weight-bold">Date:</span>{{moment bbq.date}}</p>
  <p><span class="font-weight-bold">Organizer</span> <a href="../users/{{bbq.user.id}}">@{{bbq.user.firstName}}</a> wants to remember this:</p>
  <p class="font-italic">"{{bbq.description}}"</p>
<div>

<div>
  <form method="POST" action="/requests/create" class="mb-5 mt-3">
    <input type="text" name="bbq" value="{{bbq._id}}" hidden>
    <div id="request"></div>
  </form>
</div>

<div class="container">
{{#if session}}
  <div class="row mb-3">
    <div class="col-sm-12 col-lg-9 mb-3">
      <div id="map"></div>
    </div>

    <div class="col-sm-12 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          List of attendees
        </li>
        {{#each bbq.requests}}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="../users/{{this.user._id}}">@{{this.user.firstName}}</a>
            <span class="badge badge-primary badge-pill">{{this.status}}</span>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>
{{else}}
  <div id="map" class="mb-3"></div>
{{/if}}
</div>

<p>Price: {{bbq.ppp}}€ per person</p>

<p>Max attendees: {{bbq.maxAttendees}} people</p>

<p>Status: {{bbq.status}}</p>
{{#if bbq.public}}
  <p>Public BBQ</p>
{{else}}
  <p>Private BBQ</p>
{{/if}}

{{#if bbq.dogFriendly}}
  <p>Dog friendly :)</p>
{{/if}}

<p>Tags: {{bbq.tags}}</p>

<hr>

<h2>Menu</h2>
<h3>Dishes</h3>

<ul>
  {{#each bbq.dishes}}
    <li>{{this.name}}</li>
    <ul>
      {{#each this.ingredients}}
        <li>{{this.name}}</li>
      {{/each}}
    </ul>
  {{/each}}
</ul>

<h3>Drinks</h3>

<ul>
{{#each bbq.drinks}}
  <li>{{this.name}}</li>
{{/each}}
</ul> 

{{#if bbq.bread}}
  <p>Bread is included! :)</p>
{{/if}} 

<hr>

{{#if session}}
<form action="/bbqs/review" method="POST">
  <div class="input-group">
    <input type="radio" name="rate" value="1"> 1
    <input type="radio" name="rate" value="2"> 2
    <input type="radio" name="rate" value="3" checked="checked"> 3
    <input type="radio" name="rate" value="4"> 4
    <input type="radio" name="rate" value="5"> 5
  </div>
  <br>
  <input type="text" value="{{bbq.user._id}}" name="reviewed" hidden>
  <input type="text" value="{{bbq._id}}" name="bbqid" hidden>
  <br>
  <div class="input-group">
    <textarea class="form-control" placeholder="Place your comment here" name="review"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Comment</button>
</form>
{{/if}}

<h2>Comments</h2>
<ul class="list-unstyled">
  {{#each bbq.reviews as |review|}}
    {{> bbqReview review }}
  {{/each}}
</ul>

<script src="../js/bbq-detail.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/bbqs-api.js"></script>
<script src="/js/bbqs-map.js"></script>
<script src="/js/init-bbqs-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap" async defer></script>

{{!-- <script>

  var map;
  var service;
  var infowindow;

  function initMap() {
    var mapCenter = new google.maps.LatLng({{bbq.latitude}},{{bbq.longitude}});

    map = new google.maps.Map(document.getElementById('map'), {
      center: mapCenter,
      zoom: 15
    });

    var request = {
      query: '{{bbq.address}}',
      fields: ['photos', 'formatted_address', 'name', 'rating', 'opening_hours', 'geometry']
    }

    service = new google.maps.places.PlacesService(map);
    service.findPlaceFromQuery(request, callback);
  }

  function createMarker(place) {

    new google.maps.Marker({
        position: place.geometry.location,
        map: map
    });
}

  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var place = results[i];
        createMarker(results[i]);
      }
    }
  }

</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places,geometry&callback=initMap"></script> --}}


