<div>
  {{#if bbq.photo}}
    <img src="{{bbq.photo}}" class="img-fluid" alt="Responsive image">
  {{else}}
    <img src="https://images.unsplash.com/photo-1523301343968-6a6ebf63c672?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=675d706c330862ec0a0b01703de8abba&auto=format&fit=crop&w=1950&q=80" class="img-fluid" alt="Responsive image">
  {{/if}}
</div>

<h1 class="mt-5">{{bbq.name}}
  {{#if bbq.paid}}
    <button id="confirmed" class="btn btn-success" disabled>You are confirmed!</button>
  {{else bbq.waiting}}
    <a href="../requests/pay?id={{bbq.requestId}}" class="btn btn-primary">Pay</a>  
  {{else bbq.requested}}
    <button class="btn btn-primary" disabled>Waiting confirmation...</button>
  {{else bbq.organizer}}
    <button class="btn btn-danger" id="cancel">Cancel BBQ</button>
  {{else session}}
    <button class="btn btn-primary" id="join">Join BBQ!</button>
  {{else}}      
    <a class="btn btn-primary" href="../sessions/login">Wanna Join? Login!</a>
  {{/if}}
</h1>

<div>
  <form method="POST" action="/requests/create" class="mb-5 mt-3">
    <input type="text" name="bbq" value="{{bbq._id}}" hidden>
    <div id="request"></div>
  </form>
</div>

<div class="row">
  <div class="col">
    {{#if bbq.paid}}
    <p><span class="font-weight-bold">Address:</span> {{bbq.address}}</p>
    {{/if}}
    <p><span class="font-weight-bold">Date</span><br> {{moment bbq.date}}</p>
  </div>
  <div class="col">
    <p><span class="font-weight-bold">Weather</span><br>
    <img src="https://www.metaweather.com/static/img/weather/{{bbq.state}}.svg" class="state-icon-sml"></img></p>
  </div>
  <div class="col">
    <p><span class="font-weight-bold">Temperature</span><br>Max: {{bbq.maxTemp}}°C<br>Min: {{bbq.minTemp}}°C</p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="font-italic">"{{bbq.description}}"</p>
      <footer class="blockquote-footer">The Organizer: <cite title="Source Title"><a href="../users/{{bbq.user.id}}">@{{bbq.user.firstName}}</a></cite></footer>
    </blockquote>
  </div>
</div>

<div>
{{#if session}}
  <div class="row mb-3">
    <div class="col-sm-12 col-lg-9 mb-3">
      <div id="map"></div>
    </div>

    <div class="col-sm-12 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          List of attendees
        </li>
        {{#each bbq.requests}}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="../users/{{this.user._id}}">@{{this.user.firstName}}</a>
            <span class="badge badge-primary badge-pill">{{this.status}}</span>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>
{{else}}
  <div id="map" class="mb-3"></div>
{{/if}}
</div>

<div>
  <h5>More info</h5>
  <p><span class="font-weight-bold">Price:</span> {{bbq.ppp}}€ per person</p>
  <p><span class="font-weight-bold">Max attendees:</span> {{bbq.maxAttendees}} people</p>
  <p><span class="font-weight-bold">Status:</span> {{bbq.status}}</p>
{{#if bbq.public}}
  <p>Public BBQ</p>
{{else}}
  <p>Private BBQ</p>
{{/if}}

{{#if bbq.dogFriendly}}
  <p><span class="font-weight-bold"Dog friendly :)></span></p>
{{/if}}
</div>

<hr>

<h2>Menu</h2>
<h3>Dishes</h3>

<ul>
  {{#each bbq.dishes}}
    <li>{{this.name}}</li>
    <ul>
      {{#each this.ingredients}}
        <li>{{this.name}}</li>
      {{/each}}
    </ul>
  {{/each}}
</ul>

<h3>Drinks</h3>

<ul>
{{#each bbq.drinks}}
  <li>{{this.name}}</li>
{{/each}}
</ul> 

{{#if bbq.bread}}
  <p>Bread is included! :)</p>
{{/if}} 

<hr>
{{#if session}}
  {{#if bbq.celebrated}}
  <form action="/bbqs/review" method="POST" id="ratingsForm">    
    <div class="star-rating">
      <div class="star-rating__wrap">
        <input class="star-rating__input" id="star-rating-5" type="radio" name="rate" value="5">
          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-4" type="radio" name="rate" value="4">
          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-3" type="radio" name="rate" value="3">
          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-2" type="radio" name="rate" value="2">
          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-1" type="radio" name="rate" value="1">
          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
      </div>
    </div>
    <br>
    <input type="text" value="{{bbq.user._id}}" name="reviewed" hidden>
    <input type="text" value="{{bbq._id}}" name="bbqid" hidden>
    <br>
    <div class="input-group">
      <textarea class="form-control" placeholder="Place your comment here" name="review"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>
  {{/if}}
{{/if}}

{{#if bbq.reviews}}
<h2>Comments</h2>
<ul class="list-unstyled">
  {{#each bbq.reviews as |review|}}
    {{> bbqReview review }}
  {{/each}}
</ul>
{{/if}}

<input type="hidden" id="id" value="{{bbq._id}}">

<script src="../js/bbq-detail.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/bbqs-api.js"></script>
<script src="/js/bbqs-map.js"></script>
<script src="/js/init-bbq-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap" async defer></script>
